/* style.css */

/* Si besoin, ajustez l’overlay du timer/horloge */

/* Import Google Font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply Montserrat font to the body */
body {
  font-family: 'Montserrat', sans-serif;
}

.warning-icon {
  display: none;
  color: #ff9800;
  margin-left: 4px;
  font-size: 1.2em;
  vertical-align: middle;
}